{% extends 'base.html.twig' %}
{% block body %}
    <div class="col-md-3" style="border: 1px solid; margin-left: 37%; margin-right: 37%; margin-top: 5%">
        <div>
            <label class="col-md-12" style="text-align: center">Ko galite išmokyti kitus?</label>
        </div>
        <div>
            <label class="col-md-12" style="text-align: center; font-size: large">{{ name }}</label>
            {%  for value in categories %}
                <label class="col-md-12">
                    <a class="btn btn-default btn-block"
                       href="/{{ id }}/what_i_can_teach/{{ name }}/{{ value.category }}" role="button">
                        {{ value.category }}</a></label>
            {% endfor %}
        </div>
        <div>
            <label class="col-md-12">
                <a class="btn btn-default btn-block" href="/{{ id }}/what_i_can_teach" role="button">Atgal</a>
            </label>
        </div>
    </div>
{% endblock %}
